{% extends 'base.html' %}


{% block content %}

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span> </span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary" onclick="save_user()">Save</button> 
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary" onclick="search_user()">Search by Email</button> 
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <h4>Administrador de Usuarios</h4>
            <div class= "col-8">
            <p>Nombre Completo del Usuario:</p>
            <input type="text" name="Nombre" class="form-control mb-2" placeholder="Nombre Completo" id="Nombre" ></input>
            <p>Usuario del sistema:</p>
            <input type="text" name="Usuario" class="form-control mb-2" placeholder="Usuario" id="Usuario" ></input>
            <p>Contraseña</p>
            <input type="password" name="Password" id="Password" class="form-control mb-2" placeholder="Password" ></input>
            <p>Nueva Contraseña</p>
            <input type="password" name="Npassword" id="Npassword" class="form-control mb-2" placeholder="New Password" ></input> 
            <p>Correo Electronico</p>
            <input type="email" name="email" id="Email" class="form-control mb-2" placeholder="Email Corporativo"  ></input>
            <p>Telefono de Contacto:</p>
            <input type="text" name="Telefono" class="form-control mb-2" placeholder="Telefono" id="Telefono" ></input>
            <p>Direccion de Empresa:</p>
            <input type="text" name="Direccion" class="form-control mb-2" placeholder="Direccion o Area" id="Direccion" ></input>
            <p>Empresa:</p>
            <input type="text" name="Empresa" class="form-control mb-2" placeholder="Razon Social" id="Empresa" ></input>
            <p>Cargo:</p>
            <input type="text" name="Cargo" class="form-control mb-2" placeholder="Cargo" id="Cargo" ></input>
            <p>Rol de Usuario:</p>
            <select class="custom-select mb-2" name="Rol" id="Rol"  >
                <option selected>Choose...</option>
                <option value="Administrador">Administrador</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Usuario">Usuario</option>
            </select>
           </div>
            <div class= "col-8 center">
            <button type="button" class="btn btn-primary" onclick="search_user()" >Search by email</button>
            <button type="button" class="btn btn-primary" onclick="save_user()" >Save</button>
            </div>
            </div>
        </div>
        {% endblock %}

        {% block scriptt %}
    <script>
        function save_user(){
            var fd = new FormData();
            fd.append( 'Nombre', document.getElementById("Nombre").value);
            fd.append( 'Usuario', document.getElementById("Usuario").value);
            fd.append( 'Password', document.getElementById("Password").value);
            fd.append( 'Npassword', document.getElementById("Npassword").value);
            fd.append( 'Email', document.getElementById("Email").value);
            fd.append( 'Telefono', document.getElementById("Telefono").value);
            fd.append( 'Direccion', document.getElementById("Direccion").value);
            fd.append( 'Empresa', document.getElementById("Empresa").value);
            fd.append( 'Cargo', document.getElementById("Cargo").value);
            fd.append( 'Rol', document.getElementById("Rol").value);
            $.ajax({
        url: "{{ url_for('saveuser') }}",
        data:fd,
        processData: false,
        contentType: false,
        type:"POST",
        dataType: 'json',
        success: function(data) {
            console.log(data);
        }})};
        
        function search_user(){
            var fd = new FormData();
            fd.append( 'Email', document.getElementById("Email").value);
            $.ajax({
        url: "{{ url_for('getuser') }}",
        data:fd,
        processData: false,
        contentType: false,
        type:"POST",
        dataType: 'json',
        success: function(data) {
            document.getElementById("Nombre").value=data.data["Nombre"];
            document.getElementById("Usuario").value=data.data["Usuario"];
            document.getElementById("Password").value="";
            document.getElementById("Npassword").value="";
            document.getElementById("Email").value=data.data["Email"];
            document.getElementById("Telefono").value=data.data["Telefono"];
            document.getElementById("Direccion").value=data.data["Direccion"];
            document.getElementById("Empresa").value=data.data["Empresa"];
            document.getElementById("Cargo").value=data.data["Cargo"];
            document.getElementById("Rol").value=data.data["Rol"];
            console.log(data);
        }})};
        
    </script>
{% endblock %}