{% extends 'base.html' %}


{% block content %}

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span> </span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary" onclick="history.back()">Atras</button> 
                            </li>
                   </ul>
                    </div>
                </div>
            </nav>
        <h4>Administrador de Empresas Clientes</h4>
        <form action={{url_for("saveclient")}} method="POST">
        <div class= "col-8">
        <p>Nombre o Razon Social de la Empresa Cliente:</p>
        <input type="text" name="Nombre_Empresa" class="form-control mb-2" placeholder="Nombre o Razon Social" id="Nombre_Empresa"  required></input>
        <p>Direccion de la Empresa Cliente:</p>
        <input type="text" name="Direccion" class="form-control mb-2" placeholder="Direccion" id="Direccion de la Empresa Cliente" required></input>
        <p>Numero de Registro Único del Contribuyente de la empresa (RUC)</p>
        <input type="text" name="RUC" id="RUC" class="form-control mb-2" placeholder="Numero de RUC" required></input>
        <p>Telefono de Contacto de la Empresa Cliente</p>
        <input type="text" name="Telefono_Contacto" id="Telefono_Contacto" class="form-control mb-2" placeholder="Telefono de Contacto" required></input> 
        <p>Persona de Contacto de la Empresa Cliente:</p>
        <input type="text" name="Persona_Contacto" class="form-control mb-2" placeholder="Nombre de la Persona de Contacto" id="Telefono" ></input>
        <p>Correo Electronico de Contacto</p>
        <input type="email" name="Email" id="Email" class="form-control mb-2" placeholder="Email Corporativo" required ></input>
        <p>Numero de Cuenta o Centro de Costo:</p>
        <input type="text" name="Num_cuenta" class="form-control mb-2" placeholder="Numero de Cuenta Operativo" id="Direccion"  ></input>
        <button class=" btn-primary btn-block ml-auto" type="submit">Save</button>
        </form>
        </div>
 
        </div>
        {% endblock %}

{% block scriptt %}
<script>
       window.onload=function() {
        document.getElementById("Nombre_Empresa").value="{{client.Nombre_Empresa}}";
        document.getElementById("Direccion").value="{{client.Direccion}}";
        document.getElementById("RUC").value="{{client.RUC}}";
        document.getElementById("Telefono_Contacto").value="{{client.Telefono_Contacto}}";
        document.getElementById("Persona_Contacto").value="{{client.Persona_Contacto}}";
        document.getElementById("Email").value="{{client.Email}}";
        document.getElementById("Num_cuenta").value="{{client.Num_cuenta}}";
    }
</script>

{% endblock %}