{% extends 'base.html' %}


{% block content %}

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span> </span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                   </ul>
                    </div>
                </div>
            </nav>
        <h4>Administrador de Usuarios</h4>
        <form action={{url_for("saveuser")}} method="POST">
        <div class= "col-8">
        <p>Nombre Completo del Usuario:</p>
        <input type="text" name="Nombre" class="form-control mb-2" placeholder="Nombre Completo" id="Nombre" value="{{user.Nombre}}" ></input>
        <p>Usuario del sistema:</p>
        <input type="text" name="Usuario" class="form-control mb-2" placeholder="Usuario" id="Usuario" value="{{user.Usuario}}"></input>
        <p>Nueva Contraseña</p>
        <input type="password" name="Password" id="Password" class="form-control mb-2" placeholder="Password" required></input>
        <p>Confirmacion Nuevo PassWord</p>
        <input type="password" name="Npassword" id="Npassword" class="form-control mb-2" placeholder="New Password" required></input> 
        <p>Correo Electronico</p>
        <input type="email" name="Email" id="Email" class="form-control mb-2" placeholder="Email Corporativo" value="{{user.Email}}" required ></input>
        <p>Telefono de Contacto:</p>
        <input type="text" name="Telefono" class="form-control mb-2" placeholder="Telefono" id="Telefono" value="{{user.Telefono}}"></input>
        <p>Direccion de Empresa:</p>
        <input type="text" name="Direccion" class="form-control mb-2" placeholder="Direccion o Area" id="Direccion" value="{{user.Direccion}}" ></input>
        <p>Empresa:</p>
        <input type="text" name="Empresa" class="form-control mb-2" placeholder="Razon Social" id="Empresa" value="{{user.Empresa}}" ></input>
        <p>Cargo:</p>
        <input type="text" name="Cargo" class="form-control mb-2" placeholder="Cargo" id="Cargo" value={{user.Cargo}}></input>
        <p>Rol de Usuario:</p>
        <select class="custom-select mb-2" name="Rol" id="Rol"  value="{{user.Rol}}" >
            <option value="Administrador">Administrador</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Usuario">Usuario</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
        </div>
 
        </div>
        {% endblock %}

{% block scriptt %}
 
{% endblock %}